.homebar{
    background-color:grey;
    display:flex;
    align-items: center
    flex-direction: row;
}
.logo{
    background-color: aqua;
    display: flex;
    border: 0cap;
    align-items: center;
}

button{
    border-radius: 20px;
    
}
.image{
    margin-right: 30px;
}
.dark{
    margin-right: 30px;
}
.search{
    margin-right: 30px;
}
.menu{
    border-radius: 20px;
    margin-right: 30px
    
}

